<h2 mat-dialog-title> <p>{{data.type}} <b>"{{data.name}}"</b> will be deleted.</p></h2>

<div mat-dialog-content>

  
  <dp-day-time-calendar  #dayPicker  [(ngModel)]="dateObject" theme="dp-material"
  [config]="datePickerConfig">
  ></dp-day-time-calendar>
    
  </div>

  <div mat-dialog-actions class="example-button-row">
    <button mat-raised-button (click)="onYesClick()" color="warn">Yes</button>
    <button mat-raised-button  (click)="onNoClick()" cdkFocusInitial color="warn">No</button>
  </div>