
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="300px">
      <!--Summary-->
      <mat-grid-tile *ngFor="let i of [1]" [colspan]="( cardLayout | async )?.summery.cols"
      [rowspan]="( cardLayout | async )?.summery.rows">
      <app-card [title]="( cardLayout | async )?.summery.title"><dashboard-summary></dashboard-summary></app-card>
      </mat-grid-tile>
    
      <!--Alarm-->
      <mat-grid-tile  [colspan]="( cardLayout | async )?.alarm.cols"
      [rowspan]="( cardLayout | async )?.alarm.rows">
      <app-card [title]="( cardLayout | async )?.alarm.title"><div>Alarms Comes here</div></app-card>
      </mat-grid-tile>

      <!--power-->
      <mat-grid-tile  [colspan]="( cardLayout | async )?.power.cols"
      [rowspan]="( cardLayout | async )?.power.rows">
      <app-card [title]="( cardLayout | async )?.power.title"><app-power-graph></app-power-graph></app-card>
      </mat-grid-tile>

      <!--Service-->
      <mat-grid-tile  [colspan]="( cardLayout | async )?.service.cols"
      [rowspan]="( cardLayout | async )?.service.rows">
      <app-card [title]="( cardLayout | async )?.service.title"><div>services Comes here</div></app-card>
      </mat-grid-tile>    
      
      <!--comments-->
      <mat-grid-tile [colspan]="( cardLayout | async )?.comments.cols"
      [rowspan]="( cardLayout | async )?.comments.rows">
      <app-card [title]="( cardLayout | async )?.comments.title"><app-comments></app-comments></app-card>
      </mat-grid-tile> 

      <!--state-->
      <mat-grid-tile  [colspan]="( cardLayout | async )?.state.cols"
      [rowspan]="( cardLayout | async )?.state.rows">
      <app-card [title]="( cardLayout | async )?.state.title"><app-state-chart></app-state-chart></app-card>
      </mat-grid-tile>        
    
  </mat-grid-list>

</div>
