<mat-toolbar class="secondary-toolbar" >  
  <h1 class="submenu-title">User Setting  </h1>
  <button   mat-flat-button color="warn"  routerLink="/management/edit/user/0"   routerLinkActive="active-link "><span class="material-icons">
    perm_identity
    </span>Add New User</button >

  <h1 class="submenu-title push-right" >Management:  </h1>
    <span ><mat-icon>fact_check</mat-icon> <a mat-button routerLink="/management/units"   routerLinkActive="active-link "   > Units </a></span>
    <span ><mat-icon>fact_check</mat-icon> <a mat-button routerLink="/management/users"   routerLinkActive="active-link"   > Users </a></span>
    <span ><mat-icon>fact_check</mat-icon> <a mat-button routerLink="/management/groups"  routerLinkActive="active-link"   > Groups </a></span>
    <span ><mat-icon>settings</mat-icon>   <a mat-button routerLink="/management/activity"routerLinkActive="active-link"   > Activity logger </a>        </span>
</mat-toolbar>
<router-outlet></router-outlet>

