body {
    font-family: "Roboto Webfont", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 300;
    color: #424242;
    background-color: white;
}
.active-link{
    color: #424242;  
text-emphasis: initial;
}
a{
    color:crimson ;
    padding-left: 8px;
    padding-right: 30px;
    font-size: small;

   
}