<mat-toolbar class="secondary-toolbar" >   
  <h1 class="submenu-title">Management:  </h1>
    <mat-icon>fact_check</mat-icon> <a mat-button routerLink="/management/units"   routerLinkActive="active-link"   > Units </a>
    <mat-icon>fact_check</mat-icon> <a mat-button routerLink="/management/users"   routerLinkActive="active-link"   > Users </a>
    <mat-icon>fact_check</mat-icon> <a mat-button routerLink="/management/groups"  routerLinkActive="active-link"   > Groups </a>
    <mat-icon>settings</mat-icon>   <a mat-button routerLink="/management/activity"routerLinkActive="active-link"   > Activity logger </a>        
</mat-toolbar>
<router-outlet></router-outlet>

