table {
    width: 100%;
    /* background: rgb(65, 65, 65); */
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  .mat-header-row{
    height: fit-content;
    background: dimgray;
  }
  
  .mat-header-cell{
    color: whitesmoke;
  }

  .engin-column{
    padding-left: 20px;
  }
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail-container {
 
  }  
  .element-detail-element {
    overflow: hidden;
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 5px;

    
    border-style: solid;
    /* border: beige; */
    border-bottom-width: thin;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-color: coral;
  }
  .element-detail-element .material-icons
  {
    padding-right: 30px;
    padding-left: 10px;
  }
  .element-detail-element .name
  {
    width: 210px;
    margin-right: 20px;
    padding-bottom: 2px;
   
  }
  /* .example-expanded-row{
    background-color: lawngreen;
  } */

  .alarm-column{
    width: 50px;
  }


  .material-icons.alarm{
    color: #FF8000;
  }
  .material-icons.warning{
    color: #ffc800;
  }
  .material-icons.sutdown{
    color: #d50000;
  }
  .material-icons.ECU{
    color: #00acec;
  }
  .material-icons.Sensor{
    color: #424242;
  }
  
  
  
  /* .backgroundAlarm{
    display: inline-flex;
    width: 1500%;
    background-color: #ffc800;
    text-align: left;
    padding-left:5px;
    padding-top: 5px;
    
  } */
  
  
  .backgroundAlarm.alarm{
    background-color: #FF8000;
  }
  .backgroundAlarm.warning{
    background-color:  #FBC02D;
  }
  .backgroundAlarm.sutdown{
    background-color: #d50000;
  }
  .backgroundAlarm.ECU{
    background-color:  #00acec;
  }
  .backgroundAlarm.Sensor{
    background-color:  #424242;
  }
  /* #detailIcon.warning,#detailIcon.ECU {
    color: black;
  }
  #detailIcon.alarm,#detailIcon.Sensor ,#detailIcon.sutdown{
    color: white;
  } */
  
  .agreegated-alarms{
    display: inline-flex;
    width: 100%;
    padding-top: 13px;
      }
  
