
<form class="list-actions1">
    <button mat-button >
        <mat-icon > av_timer </mat-icon>
    </button>
    <button mat-button >
        <mat-icon > av_timer </mat-icon>
    </button>

</form> 
<form class="list-actions2">
    <button mat-button >
        <mat-icon >search</mat-icon>
    </button>
    <button mat-button >
        <mat-icon >show_chart</mat-icon>
    </button>
    <button mat-button  >
        <mat-icon> av_timer </mat-icon>
    </button>
</form> 

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">

  <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td class="name-column" mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>   -->


  
  <!-- GroupName Column -->
  <ng-container matColumnDef="Groups">
    <th mat-header-cell *matHeaderCellDef></th>
    <td class="name-column" mat-cell *matCellDef="let element"> {{element.GroupName}} </td>
  </ng-container>
    

    <!-- Id Column -->
    <!-- <ng-container matColumnDef="unitname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Name</th>
      <td  class="left-align red-underline" mat-cell *matCellDef="let row">{{row.unitname}}</td>
    </ng-container> -->
<!-- 
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Comment</th>
      <td class="left-align "  mat-cell *matCellDef="let row">{{row.name}} <fa-icon [icon]="filmIcon"></fa-icon></td>
    </ng-container> -->



  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div>        
            <div  *ngFor="let unit of element.UnitsInfo">
              <div>
                <span  class="name-column" (click)="selecteUnit(unit)"  routerLinkActive="active-link"   >   {{unit.name}}  </span>
              </div>
              <div *ngIf="unit==selectedUnit">
              
                  <div *ngFor="let metric of UnitMetrics; index as i;">
                    <mat-checkbox  (change)="selectedMetric(metric,$event.checked)"  [checked]="metric.selected" > </mat-checkbox>                   
                    <span class="name-column"> {{metric.metricName}}</span>
                  </div>
           
              </div>
            </div>          
        </div>
      </div>
    </td>
    
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
</ng-container>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>