<form class="header">
    <h2 > Trends unit list</h2>
    <button mat-button  >
        <mat-icon>close</mat-icon>
    </button>  
    
</form> 

<form class="list-actions1">
    <button mat-button >
        <mat-icon > av_timer </mat-icon>
    </button>
    <button mat-button >
        <mat-icon > av_timer </mat-icon>
    </button>

</form> 
<form class="list-actions2">
    <button mat-button >
        <mat-icon >search</mat-icon>
    </button>
    <button mat-button >
        <mat-icon >show_chart</mat-icon>
    </button>
    <button mat-button  >
        <mat-icon> av_timer </mat-icon>
    </button>
</form> 

<ul>
    <li *ngFor="let group of trends; index as i;">
        {{group.GroupName}}
            <p *ngFor="let item of group.UnitsSeriesInfo ; index as i;">
                <a routerLink="/trends/qw/{{item.UnitId}}" (click)="selected(item,'true')"  routerLinkActive="active-link"   >   {{item.UnitName}}  </a>
            </p>
    </li>
</ul>
