.header{
    display: flex;
    font-size: .875rem;
    background-color: #2f2f2f;
    align-items: center;
    color: #ffffff;
    padding-left: 6px;
   
    height: 30px;
}
.header .mat-button
{
    margin-left: auto;  
}
.header h2
{
    margin: 0;
}

.header div
{
    padding: 5px;
    margin: 0 auto 0 -3px;
    border-left: solid 1px #d4d4d4;
}

.list-actions1{
    display: flex;
    font-size: .875rem;
    background-color: #eeeeee;
   
}
.list-actions1 button 
{
    background-color: #5a5a5a;
    color: #ffffff;
    border: solid 1px  #222222;
    border-width: 0 0 1px 1px;
    border-radius: 0;
    width: 50%;

}
.list-actions2 button 
{
    background-color: #5a5a5a;
    color: #ffffff;
    border: solid 1px  #222222;
    border-width: 0 0 1px 1px;
    border-radius: 0;
    width: 33.33333%;

}
/* **********Table***************************** */
table {
    width: 100%;
    background: rgb(65, 65, 65);
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .material-icons.alarm{
    color: #FF8000;
  }
  .material-icons.warning{
    color: #ffc800;
  }
  .material-icons.sutdown{
    color: #d50000;
  }
  .material-icons.ECU{
    color: #00acec;
  }
  .material-icons.Sensor{
    color: #424242;
  }
  
  
  .unit-alarmssss{
    display: inline-flex;
    width: 1500%;
    background-color: #ffc800;
    text-align: left;
    padding-left:5px;
    padding-top: 5px;
    
  }
  
  
  .unit-alarmssss.alarm{
    background-color: #FF8000;
  }
  .unit-alarmssss.warning{
    background-color:  #FBC02D;
  }
  .unit-alarmssss.sutdown{
    background-color: #d50000;
  }
  .unit-alarmssss.ECU{
    background-color:  #00acec;
  }
  .unit-alarmssss.Sensor{
    background-color:  #424242;
  }
  #detailIcon.warning,#detailIcon.ECU {
    color: black;
  }
  #detailIcon.alarm,#detailIcon.Sensor ,#detailIcon.sutdown{
    color: white;
  }
  
  .agreegated-alarms{
    display: inline-flex;
    width: 100%;
    padding-top: 13px;
      }
  
  .name-column{
    text-align: left;
    color: white;
  }
  .closeIcon{
    margin-left: auto;
    color: white;
  }