body{
	font-family: "Roboto Webfont", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.more-button {
	position: absolute ;
	top: 5px ;
	right: 10px;
}
mat-card-title{
/* padding-top: 16px; */
	color: white;
	display: inline-flex;
	vertical-align: middle;
}
span{
 vertical-align:center;
}
mat-card-header{
	height: 25px;
}
mat-card{	
	height:100%;
	padding: 0px;
	background:#2f2f2f;
}
mat-card-content
{
	/* height: 100%; */
	 background:  #484849; 
}
#main {
	  
	display: flex;
	justify-content: space-between;
	border: 2px;
  }

button{
	
	color: aliceblue;
	text-align: center;
	border-width: 2px;
  
  }









  table {
	width: 100%;
  }
  
  th.mat-sort-header-sorted {
	color: black;
  }

  .nameCulomn{
	padding-left: 5px;
  }
  .countCulomn{
	  text-align: center;
  }

  .mat-cell, .mat-header-cell {
 
	background: rgb(47, 47, 47);
	color: white;
}