.header{
    display: flex;
    font-size: .875rem;
    background-color: #2f2f2f;
    align-items: center;
    color: #ffffff;
    padding-left: 6px;
   
    height: 30px;
}
.header .mat-button
{
    margin-left: auto;  
}
.header h2
{
    margin: 0;
}

.header div
{
    padding: 5px;
    margin: 0 auto 0 -3px;
    border-left: solid 1px #d4d4d4;
}

