<mat-toolbar class="secondary-toolbar" >   
    <button mat-icon-button >  <mat-icon>list</mat-icon></button>
    <h1 class="submenu-title">User Setting  </h1>
    <ng-template [ngIf]="!isAddMode" >
      <button   mat-flat-button color="warn"  routerLink="/management/edit/user"  >
        <span class="material-icons">perm_identity</span>Add New User
      </button >
    </ng-template>
  </mat-toolbar>
  <!-- <h2>{{ user.firstName }}</h2> -->
      <mat-accordion>
        <!-- اطلاعات حساب کاربری -->
        <!-- <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons ">
                desktop_windows
                </span>
              Account information
            </mat-panel-title>            
          </mat-expansion-panel-header>
      
        </mat-expansion-panel> -->
      <!-- اطلاعات شخصی کاربر -->
        <mat-expansion-panel [expanded]="true" (opened)="setStep(1)" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons ">
                person_outlined
                </span>
              Personal information
            </mat-panel-title>
          </mat-expansion-panel-header>
      <form [formGroup]="userInfoForm"  class="form">
        <mat-form-field class="form-element" appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Enter first name" formControlName="firstName">
        </mat-form-field>

        <mat-form-field class="form-element" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Enter last name" formControlName="lastName">
        </mat-form-field>
        
        <mat-form-field class="form-element" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter email" formControlName="email">
        </mat-form-field>

        <!-- <mat-form-field appearance="fill" class="full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>confirmP your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  formControlName="confirmPassword">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field> -->


        <!-- <mat-form-field appearance="fill">
          <mat-label>Phone number</mat-label>
          <input matInput formControlName="tel" required>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field>

        <mat-form-field class="form-element" appearance="fill">
          <mat-label>Company name</mat-label>
          <input matInput placeholder="Enter company name" formControlName="company">
        </mat-form-field> -->

        <!-- <mat-form-field class="form-element" appearance="fill">
          <input matInput placeholder="Choose country" formControlName="country">
        </mat-form-field> -->

        <!-- <mat-form-field  appearance="fill">
          <mat-label>Choose country</mat-label>
          <mat-select [(value)]="selected"  formControlName="country">
            <mat-option>None</mat-option>
            <mat-option value="Ir">Iran</mat-option>
            <mat-option value="Usa">United State of America (Usa)</mat-option>
            <mat-option value="UK">United kingdom (UK)</mat-option>
          </mat-select>
        </mat-form-field> -->

        </form>
   
        </mat-expansion-panel>
      <!-- اطلاعات حساب  -->
        <!-- <mat-expansion-panel [expanded]="false" (opened)="setStep(2)" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons ">
                home
                </span>Invoice information
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel> -->

        <!-- Permissions -->
        <!-- <mat-expansion-panel [expanded]="true" (opened)="setStep(2)" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons ">
                vpn_key_outlined
                </span>
              Permissions
            </mat-panel-title>
          </mat-expansion-panel-header>
          <user-edit-permission></user-edit-permission>
        </mat-expansion-panel> -->
      
      </mat-accordion>
      
      <!-- Copyright 2020 Google LLC. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->
          
  
  <mat-toolbar class="footing-toolbar" >  
    <ng-template [ngIf]="!isAddMode" >
      <button   mat-flat-button color="warn" class="btndelete" >
        <span class="material-icons" (click)="deleteUser()" >delete_forever</span>Delete
      </button > 
    </ng-template>
    <button   mat-flat-button color="warn" >
        <span class="material-icons" (click)="onSubmit()" >save</span>Save
    </button >
    
    <button  type="button" (click) = "resetForm()" mat-flat-button color="warn">
        <span class="material-icons"  >restore</span>Cancel
    </button >
  </mat-toolbar>
  

