<div class="SummaryContents">

<mat-grid-list cols="5" rowHeight="75px">
        <mat-grid-tile  aria-colspan="1">
        <mat-card  >
            <mat-card-header >
                <mat-card-title>Online </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h3 style="text-align:center;">14</h3>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  aria-colspan="2">
        <mat-card  >
            <mat-card-header >
                <mat-card-title>Offline </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <h3 style="text-align:center;">21</h3>
                </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile  aria-colspan="3">
        <mat-card  >
            <mat-card-header >
                <mat-card-title>Total </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <h3 style="text-align:center;">35</h3>
              </mat-card-content>
            </mat-card>
    </mat-grid-tile>
    

    <mat-grid-tile  aria-colspan="4">
        <mat-card  >
            <mat-card-header >
                <mat-card-title>In alarm </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h3 style="text-align:center;">5</h3>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  aria-colspan="5">
        <mat-card  >
            <mat-card-header >
                <mat-card-title>24h to servise </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <h3 style="text-align:center;">0</h3>
              </mat-card-content>
            </mat-card>
    </mat-grid-tile>
    
    
</mat-grid-list>


<mat-grid-list cols="3" rowHeight="75px">
    <mat-grid-tile  aria-colspan="1">
        <mat-card   >
            <mat-card-header >
                <mat-card-title>Shut down </mat-card-title>
            </mat-card-header>
              <mat-card-content>
                  <h3 style="text-align:center;">14 units are shut downed</h3>
              </mat-card-content>
            </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  aria-colspan="2">
        <mat-card  >
            <mat-card-header >
                <mat-card-title>Alarm </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <h3 style="text-align:center;">21</h3>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile  aria-colspan="3">
        <mat-card  >
            <mat-card-header >
                <mat-card-title>Warning </mat-card-title>
            </mat-card-header>
              <mat-card-content>
                  <h3 style="text-align:center;">35</h3>
              </mat-card-content>
            </mat-card>
    </mat-grid-tile>
    
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="75px">
    <mat-grid-tile  aria-colspan="1">
        <mat-card  >
            <mat-card-header >
                <mat-card-title style="text-align:center;">ECU </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h3 style="text-align:center;">0</h3>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  aria-colspan="2">
        <mat-card  >
            <mat-card-header >
                <mat-card-title>Sensor faile </mat-card-title>
            </mat-card-header>
              <mat-card-content>
                  <h3 style="text-align:center;">0</h3>
                </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile  aria-colspan="3">
        <mat-card  >
            <mat-card-header >
                <mat-card-title>No Communication </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <h3 style="text-align:center;">17</h3>
              </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        
        <mat-grid-tile  aria-colspan="4">
        <mat-card  >
            <mat-card-header >
                <mat-card-title>Disabled </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h3 style="text-align:center;">4</h3>
              </mat-card-content>
            </mat-card>
    </mat-grid-tile>
    

    
</mat-grid-list>


</div>