.pickers{
    display:flex;
    width: 250px;
}
:host:host{
    overflow: inherit;
    width: auto;
}


.example-container {
    height: 350px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }