<h2 mat-dialog-title>Record service time</h2>
<mat-dialog-content class="mat-typography">

  <h1>select service to update it. </h1>
  <mat-form-field appearance="fill">
    <mat-label>Maintenance servises</mat-label>
    <mat-select [formControl]="selectedMaintenance" >
      <mat-option *ngFor="let topping of data.maintenances" [value]="topping">{{topping.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>RunHours</mat-label>
    <input type="number" [formControl]="RunHours"  matInput >
    <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
  </mat-form-field>

  <dp-date-picker  theme="dp-material" mode="day" placeholder="تاریخ"  [(ngModel)]="ServiceTime">
  </dp-date-picker>  
  
  <button mat-button  [disabled]="!selectedMaintenance.value" (click)="update()">set</button>

  <ul>
     <li *ngFor="let added of data.maintenances">{{added.name}}   runhours:{{added.runHour}}   date:{{added.date}}</li>
  </ul>     
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>cancel</button>
  <button mat-button (click)="save()">save&close</button>
</mat-dialog-actions>



