<h2 mat-dialog-title>Update performed maintenance services</h2>
<mat-dialog-content class="mat-typography">

  <p>select service to update it. </p>
  <mat-form-field appearance="fill">
    <mat-label>Maintenance servises</mat-label>
    <mat-select [formControl]="selectedMaintenance" >
      <mat-option *ngFor="let topping of data.maintenances" [value]="topping">{{topping.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>RunHours</mat-label>
    <input type="number" [formControl]="RunHours"  matInput >
    <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
  </mat-form-field>

  <dp-date-picker  theme="dp-material" mode="day" placeholder="تاریخ"  [(ngModel)]="ServiceTime">
  </dp-date-picker>  
  
  <button mat-button  [disabled]="!selectedMaintenance.value" (click)="update()">set</button>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Interval Column -->
      <ng-container matColumnDef="interval">
        <th mat-header-cell *matHeaderCellDef> Interval </th>
        <td mat-cell *matCellDef="let element"> {{getInterval(element)}} </td>
      </ng-container>
      <!-- runHour Column -->
      <ng-container matColumnDef="runHour">
        <th mat-header-cell *matHeaderCellDef> RunHour </th>
        <td mat-cell *matCellDef="let element"> {{element.runHour}} </td>
      </ng-container>
      <!-- date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>cancel</button>
  <button mat-button (click)="save()">save&close</button>
</mat-dialog-actions>



