<mat-toolbar class="secondary-toolbar" >   
    <button mat-icon-button >  <mat-icon>list</mat-icon></button>
    <h1 class="submenu-title">Unit Setting  </h1>
      <button   mat-flat-button color="warn" ><span class="material-icons">
        perm_identity
        </span>Add New Unit</button >
  </mat-toolbar>
  
<p>unit-edit works!</p>
<div class="container" *ngIf="unit$ | async as unit">
    <h3>"{{ unit.name }}"</h3>
   
      <label>Id: </label>{{ unit.id }}
 
      <label>Name: </label>
      <input [(ngModel)]="unit.name" placeholder="name"/>
   
 





<mat-toolbar class="footing-toolbar" >   
    <button   mat-flat-button color="warn" >
        <span class="material-icons" (click)="gotoUsers(user)" >save</span>Save
    </button >
    
    <button   mat-flat-button color="warn" >
        <span class="material-icons">restore</span>Restore to previouse
    </button >
  </mat-toolbar>
  
</div>