<mat-toolbar class="secondary-toolbar" >   
    <button mat-icon-button >  <mat-icon>list</mat-icon></button>
    <h1 class="submenu-title">Unit Setting  </h1>
    <ng-template [ngIf]="!isAddMode" >
      <button   mat-flat-button color="warn"  routerLink="/management/edit/unit"  >
        <span class="material-icons">perm_identity</span>Add New Unit
      </button >
    </ng-template>
  </mat-toolbar>
        <mat-accordion>
          <!-- Unit information -->
          <mat-expansion-panel [expanded]="true" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="material-icons ">
                  av_timer 
                  </span>
                Unit Information
              </mat-panel-title>
            </mat-expansion-panel-header>
            <unit-information></unit-information>
          </mat-expansion-panel>
          <!-- Unit groups -->
          <mat-expansion-panel [expanded]="false" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="material-icons ">
                  library_add 
                  </span>
                Unit Groups
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- <unit-edit-groups></unit-edit-groups> -->
          </mat-expansion-panel>
          <!--Permissions -->
          <mat-expansion-panel [expanded]="false" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="material-icons ">
                  vpn_key_outlined
                  </span>
                Permissions
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- <unit-edit-permission></unit-edit-permission> -->
          </mat-expansion-panel>
        
        </mat-accordion>