<mat-sidenav-container class="sidenav-container" >
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) === false">

 
  <mat-nav-list>
    <a *ngFor="let item of menuItems" mat-list-item [routerLink]="'/'+item"> {{item | titlecase}} </a>
</mat-nav-list>

</mat-sidenav> -->
  <mat-sidenav-content>
    <mat-toolbar class="secondary-toolbar" color="primary" >
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
       <span class="menu-spacer"></span>
        <a mat-button routerLink="/dashboard"> <mat-icon>dashboard</mat-icon>Dashboard </a>
        <a mat-button routerLink="/monitored-units"> <mat-icon>receipt_long</mat-icon> Units </a>
        <a mat-button routerLink="/trends"> <mat-icon>trending_up</mat-icon> Analyse </a>
        <a mat-button routerLink="/management/users"> <mat-icon>fact_check</mat-icon> Management </a>
        <a mat-button routerLink="/first-page"> <mat-icon>settings</mat-icon> Settings </a>
        <a mat-button routerLink="/first-page"> <mat-icon>help</mat-icon> Help </a>
        <a mat-button routerLink="/login"> <mat-icon>login</mat-icon> login </a>
        <a mat-button (click)="logout()"><mat-icon>logout</mat-icon>Logout</a>
        
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>