<mat-card class="my-card">
   <mat-card-title>
      Registration
   </mat-card-title>

    <mat-card-content>
        <form [formGroup]="signupForm" class="my-form">
             <mat-form-field class="full-width">
                   <mat-label>First Name</mat-label>
                   <input  matInput  placeholder="First name"  formControlName="firstName"  required>
             </mat-form-field>
                <mat-form-field class="full-width">
                   <mat-label>Last Name</mat-label>
                   <input  matInput  placeholder="Last Name" formControlName="lastName"  required>
                </mat-form-field>
                <mat-form-field class="full-width">
                   <mat-label>Address</mat-label>
                   <input  matInput  placeholder="Address" formControlName="address"  required>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="pat@example.com" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Enter your password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
         </form>
       </mat-card-content>
     
       <mat-card-actions>
         <button mat-flat-button  [disabled]="loading" (click)="onSubmit()">Register</button>
      </mat-card-actions>
  </mat-card>

