<mat-card class="my-card">
   <mat-card-title>
      Registration
   </mat-card-title>

    <mat-card-content>
        <form [formGroup]="signupForm" class="my-form">
             <mat-form-field class="full-width">
                   <mat-label>First Name</mat-label>
                   <input  matInput  placeholder="First name"  formControlName="firstname"  required>
             </mat-form-field>
                <mat-form-field class="full-width">
                   <mat-label>Last Name</mat-label>
                   <input  matInput  placeholder="Last Name" formControlName="lastname"  required>
                </mat-form-field>
                <mat-form-field class="full-width">
                   <mat-label>Address</mat-label>
                   <input  matInput  placeholder="Address" formControlName="address"  required>
                </mat-form-field>
                <mat-form-field class="full-width">
                   <mat-label>Email</mat-label>
                   <input  matInput  placeholder="Email" formControlName="username">
                </mat-form-field>
                <mat-form-field class="full-width">
                   <mat-label>Password</mat-label>
                   <input  matInput  placeholder="Password"  formControlName="password">
                </mat-form-field>
         </form>
       </mat-card-content>
     
       <mat-card-actions>
         <button mat-flat-button  [disabled]="loading" (click)="onSubmit()">Register</button>
      </mat-card-actions>
  </mat-card>

