<p>information works!</p>
<mat-grid-list cols="3"  rowHeight="100px">
    <!-- nameformGroup -->
    <mat-grid-tile colspan="2" rowspan="1">
        <form [formGroup]="nameformGroup"  class="form name-state">
                <mat-form-field class="form-culomn" appearance="fill">
                <mat-label>Unit Name</mat-label>
                <input matInput placeholder="Enter name" formControlName="name" required>
                </mat-form-field>
           
            <div class="form-culomn">
                <label>Float label: </label>
                <p>
                    <mat-radio-group formControlName="state">
                        <mat-radio-button value="true">Enabled</mat-radio-button>
                        <mat-radio-button value="false">Disabled</mat-radio-button>
                    </mat-radio-group>
                </p>
            </div>
        </form>
    </mat-grid-tile>
    <!-- Map -->
    <mat-grid-tile [colspan]="1" [rowspan]="4">
        <div>
            Map
        </div>
    </mat-grid-tile>    
    <!-- infoformGroup -->
    <mat-grid-tile [colspan]="2" [rowspan]="3">
        <form [formGroup]="infoformGroup"  class="form info">
            <div class="form-culomn">
                
            <mat-form-field class="form-element" appearance="fill">
            <mat-label>Unit Name</mat-label>
            <input matInput placeholder="Enter name" formControlName="name" required>
            </mat-form-field>

            <mat-form-field class="form-element" appearance="fill">
                <mat-label>Unit Name</mat-label>
                <input matInput placeholder="Enter name" formControlName="name" required>
            </mat-form-field>
            
            <mat-form-field class="form-element" appearance="fill">
                <mat-label>Unit Name</mat-label>
                <input matInput placeholder="Enter name" formControlName="name" required>
            </mat-form-field>
        </div>
 
        <div class="form-culomn">
            <mat-form-field class="form-element" appearance="fill">
                <mat-label>Unit Name</mat-label>
                <input matInput placeholder="Enter name" formControlName="name" required>
            </mat-form-field>
       
        <div class="form-element">
            <label>Float label: </label>
            <p>
                <mat-radio-group formControlName="state">
                    <mat-radio-button value="true" >Enabled</mat-radio-button>
                    <mat-radio-button value="false">Disabled</mat-radio-button>
                </mat-radio-group>
            </p>
        </div>
        </div>
    </form>
    </mat-grid-tile>
  </mat-grid-list>