mat-grid-tile:hover{
    background-color: rgb(230 230 230 / 0.19);
}
.map{
  background-color: aqua;
}
#map {
  height: 100%;
  width: 100%;
}

.form {
    display: flex;
    padding: 5px 0px 5px 2px;
    width: 100%;
  }
  .form-element {
    padding: 5px 5px 5px 15px;
    width: 100%;
  }
.form-half-culomn {
    padding-right: 10px;
    width: 50%;
  }

  .form-culomn {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
  }
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }



  /* action toolbar */
  .mat-flat-button{
    border-radius: 50px;
    background: #d50000;
    margin-left: 20px;
}
.btndelete {
  margin-right: auto;
}
.footing-toolbar{
    justify-content:flex-end;
}