   <div class="container">
    <div class="row1 single-value Online      "><span class="cut">Online        </span> <span class="value">15</span></div>
    <div class="row1 single-value Offline     "><span class="cut">Offline       </span> <span class="value">6 </span></div>
    <div class="row1 single-value Total       "><span class="cut">Total         </span> <span class="value">21</span></div>
    <div class="row1 single-value InAlarm     "><span class="cut">In Alarm      </span> <span class="value">27</span></div>
    <div class="row1 single-value ToService   "><span class="cut">No Airgate    </span> <span class="value">5 </span></div>  
    <div class="row1 single-value ToService   "><span class="cut">24h to service</span> <span class="value">5 </span></div>  
    <div class="row1 single-value ToService   "><span class="cut">Eng. "Loaded" </span> <span class="value">5 </span></div>  
</div>




<div class="container">
    <div class="row2"><span class="material-icons Sutdown">warning</span><span class="title">Sutdown</span><span class="value"><b>4</b></span></div>
    <div class="row2"><span class="material-icons Alarm  ">warning</span><span class="title">Alarm  </span><span class="value"><b>0</b></span></div>
    <div class="row2"><span class="material-icons Warnig ">warning</span><span class="title">Warnig </span><span class="value"><b>1</b></span></div>
  </div> 




  <div class="container">
    <div class="row3"><span class="material-icons ECU      ">warning</span>        <span class="title">  ECU        </span><span class="value"><b>0</b></span></div>
    <div class="row3"><span class="material-icons Sensor   ">warning</span>        <span class="title">   Sensor Fail</span><span class="value"><b>0</b></span></div>
    <div class="row3"><span class="material-icons NoCom    ">cancel</span>         <span class="title">   No Com     </span><span class="value"><b>17</b></span></div>
    <div class="row3"><span class="material-icons Disabled ">not_interested</span> <span class="title">   Disabled   </span><span class="value"><b>4</b></span></div>

  </div>
  