   <div class="container">
    <div class="row1"><span>Online</span></div>
    <div class="row1">Offline<h3 style="text-align:center;">6</h3></div>
    <div class="row1">Total<h3 style="text-align:center;">21</h3></div>
    <div class="row1">In Alarm<h3 style="text-align:center;">27</h3></div>
    <div class="row1">24h to service<h3 style="text-align:center;">5</h3></div>  
</div>

<div class="container">
    <div class="row2"><span class="material-icons Sutdown">warning</span><span class="title">Sutdown</span><span class="value"><b>4</b></span></div>
    <div class="row2"><span class="material-icons Alarm  ">warning</span><span class="title">Alarm  </span><span class="value"><b>0</b></span></div>
    <div class="row2"><span class="material-icons Warnig ">warning</span><span class="title">Warnig </span><span class="value"><b>1</b></span></div>
  </div> 

  
  <div class="container">
    <div class="row3"><span class="material-icons ECU      ">warning</span>        <span class="title">  ECU        </span><span class="value"><b>0</b></span></div>
    <div class="row3"><span class="material-icons Sensor   ">warning</span>        <span class="title">   Sensor Fail</span><span class="value"><b>0</b></span></div>
    <div class="row3"><span class="material-icons NoCom    ">cancel</span>         <span class="title">   No Com     </span><span class="value"><b>17</b></span></div>
    <div class="row3"><span class="material-icons Disabled ">not_interested</span> <span class="title">   Disabled   </span><span class="value"><b>4</b></span></div>

  </div>
  