mat-form-field{
    margin-left: 10px;;
}
:host {
    display: block;
  }
  
  .my-selects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  ng-select {
    width: 200px;
  }