
      .addform{
        background: #d8efd0;
        justify-content:flex-end;
      }
      .addform mat-form-field{
        width: 30%;
        padding-right:30px ;
        padding-top:15px ;
      }
      .addform button{
        background: #7bc85d;
        margin-left: 20px;
        
      }
      mat-checkbox{
        padding-right:30px ;
      }
      table{
        margin: 10px;
        width: -webkit-fill-available;
    }
td span{
  color: red;
}