.filter-sort-panel{
    display: flex;
    font-size: .875rem;
    background-color: #eeeeee;
    border-bottom: solid 1px #d4d4d4;
    height: 30px;
}
.filter-sort-panel button 
{
    margin: 0 auto 0 -3px;
    border-left: solid 1px #d4d4d4;
}

.filter-sort-panel div
{
    padding: 5px;
    margin: 0 auto 0 -3px;
    border-left: solid 1px #d4d4d4;
}




.alarms-Container{
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #757474;
   
}

.material-icons.alarm{
    color: #FF8000;
  }
  .material-icons.warning{
    color: #ffc800;
  }
  .material-icons.sutdown{
    color: #d50000;
  }
  .material-icons.ECU{
    color: #00acec;
  }
  .material-icons.Sensor{
    color: #424242;
  }
  
  
  .unit-alarmssss{
    display: flex;
    background-color: #ffc800;
    text-align: left;
    padding-left:5px;
    padding-top: 5px;
    margin: 5px;
    
  }
  
  
  .unit-alarmssss.alarm{
    background-color: #FF8000;
  }
  .unit-alarmssss.warning{
    background-color:  #FBC02D;
  }
  .unit-alarmssss.sutdown{
    background-color: #d50000;
  }
  .unit-alarmssss.ECU{
    background-color:  #00acec;
  }
  .unit-alarmssss.Sensor{
    background-color:  #424242;
  }
  #detailIcon.warning,#detailIcon.ECU {
    color: black;
  }
  #detailIcon.alarm,#detailIcon.Sensor ,#detailIcon.sutdown{
    color: white;
  }
  
  .agreegated-alarms{
    display: inline-flex;
    width: 100%;
    padding: 5px;
      }
  