<form class="filter-sort-panel">
    <button mat-button >
        <mat-icon >cloud_download</mat-icon>
    </button>
    <button mat-button >
        <mat-icon >show_chart</mat-icon>
    </button>
    <button mat-button  >
        <mat-icon> av_timer </mat-icon>
    </button>
    <button mat-button >
        <mat-icon>settings  </mat-icon>
    </button>
    
 
</form> 

<p>
    state:{{stateInfos?.state}}
</p>

<p>
    Breaker State:
</p>

<p>
    Controller Mode:
</p>

<p>
    Last Update:{{stateInfos?.elapsed}}
</p>

<h3>
    AlarmList:
</h3>
    
<div class="alarms-Container">
    <div class="unit-alarmssss  ECU" *ngFor="let alarm of stateInfos?.AlarmList">
        <span id="detailIcon" class="material-icons ECU">warning</span>
        <span id="detailIcon" class="ECU" >
            {{alarm}}
        </span>
    </div>          
</div>

<!-- <div class="alarms-Container">
    <div class="unit-alarmssss  {{alarm.Icon}}" *ngFor="let alarm of stateInfos.AlarmList">
        <span id="detailIcon" class="material-icons {{alarm.Icon}}">warning</span>
        <span id="detailIcon" class="{{alarm.Icon}}" >
            {{alarm.name }}
        </span>
    </div>          
</div> -->