<form class="filter-sort-panel">
    <button mat-button >
        <mat-icon >cloud_download</mat-icon>
    </button>
    <button mat-button >
        <mat-icon >show_chart</mat-icon>
    </button>
    <button mat-button    [routerLink]="['/unit/detail', this.unitId]">
        <mat-icon> av_timer </mat-icon>
    </button>
    <button mat-button >
        <mat-icon>settings  </mat-icon>
    </button>
    
 
</form> 
<p>  </p>
<p>
<span>
    Last Update:
</span>
<span>
    {{stateInfos?.elapsed}}
</span>
</p>

<div class="grid-row grid-col unit-states">
    <div class="engine-state"><span esg-i18n="Engine state">Engine state</span>: <span class="ng-binding">{{stateInfos?.state}}</span></div>
    <div class="breaker-state"><span esg-i18n="Breaker state">Breaker state</span>: <span class="ng-binding">{{stateInfos?.breakerState}}</span></div>
    <div class="controller-mode"><span esg-i18n="Controller Mode">Controller Mode</span>: <span class="ng-binding">{{stateInfos?.controllerMode}}</span></div>
  </div>

<h3>
    AlarmList:
</h3>
    
<div class="alarms-Container">
    <div class="unit-alarmssss  ECU" *ngFor="let alarm of stateInfos?.AlarmList">
        <span id="detailIcon" class="material-icons ECU">warning</span>
        <span id="detailIcon" class="ECU" >
            {{alarm}}
        </span>
    </div>          
</div>

<!-- <div class="alarms-Container">
    <div class="unit-alarmssss  {{alarm.Icon}}" *ngFor="let alarm of stateInfos.AlarmList">
        <span id="detailIcon" class="material-icons {{alarm.Icon}}">warning</span>
        <span id="detailIcon" class="{{alarm.Icon}}" >
            {{alarm.name }}
        </span>
    </div>          
</div> -->