<div class="container">
    <div class="header">
        <h1>Tutorial Republic</h1>
    </div>
    <div class="wrapper clearfix">
        <div class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="section">
            <h2>Welcome to our site</h2>
            <p>Here you will learn how to create websites...</p>
        </div>
    </div>
    <div class="footer">
        <p>copyright &copy; tutorialrepublic.com</p>
    </div>
</div>