<form class="filter-sort-panel">
    <button mat-button >
        <mat-icon>warning</mat-icon>
        Alarm type
    </button>
    <button mat-button >
        <mat-icon> av_timer </mat-icon>
        Unit name
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button mat-button >
        <span class="material-icons material-icons-outlined">
            update
            </span>
            Last Update
            <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <div>
    <input matInput type="search" placeholder="search here" class="search-input">
    </div>
    
 
</form> 
<ng-template appViewUnits></ng-template>