/* You can add global styles to this file, and also import other style files */
body{
  margin: 0px;

}



  .mat-flat-button{
    border-radius: 50px;
    background: #d50000;
    margin-left: 20px;
  }
  