<h2 mat-dialog-title>Record service time</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{data.name}}</h3>
  <p>select which service has been done. </p>
    <div class="pickers">
        <div >
          <p>Start Time</p>
          <dp-day-time-calendar  #Start  [(ngModel)]="StartTime" theme="dp-material"
          [config]="datePickerConfig">
          </dp-day-time-calendar>
        </div>
    </div>
        
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Insert</button>
</mat-dialog-actions>
